/* General stying */
html, body{
  margin: 0;
  padding: 0;
}
body{
  background: #F5F5F5;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}
h1{
  font-family: 'Yrsa', serif;
  font-size: 1.6em;
  line-height: 1.3;
}
p{
  color: #1f1f1f;
  font-size: 1em;
}
a{
  color: #333;
  text-decoration: none;
}
a:visited{
  color: #333;
}
a:hover{
  color: #999999;
}
.hide{
  display: none !important;
}
/* Header */
body > header{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 100%;
  height: 4em;
  margin: 0 0 2em;
  border-top: 3px solid #333;
  border-bottom: 1px solid rgba(0,0,0,.05);
  text-align: center;
}
header .logo{
  width: 11em;
  height: 1.9em;
}
.logo{
  background: url(../img/logo_rijksmuseum.svg) no-repeat center;
  background-size: 100%;
}
.back-button{
  position: absolute;
  top: .9em;
  left: 2em;
  background: #333;
  color: #f5f5f5 !important;
  font-size: .8em;
  display: inline-block;
  padding: .8em 1em;
  border-radius: 4px;
}
/* /General stying */
/* Loader */
.loader{

  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  z-index: 1000;
  cursor: progress;
}
.loader section{
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
.loader .logo{
  display: inline-block;
  background: url(../img/logo_rijksmuseum.svg) no-repeat;
  background-size: 100%;
  width: 14em;
  height: 2em;
  margin-top: 2em;
}
.sk-cube-grid {
  width: 3em;
  height: 3em;
  /*
   * Spinner positions
   * 1 2 3
   * 4 5 6
   * 7 8 9
   */ }
  .sk-cube-grid .sk-cube {
    width: 33.33%;
    height: 33.33%;
    background-color: #333;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0.0s;
            animation-delay: 0.0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1); }
    35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); } }
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1); }
    35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); } }
/* /Loader */
/* Search */
section.search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 4em auto;
}
section form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.07);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.07);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.07);
  -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media only screen and (max-width: 40em){
  section form{
    width: 100%;
  }
}
.search-feedback{
  margin-top: 1em;
}
section form input{
  width: 100%;
  height: 2em;
  padding: .8em 1em;
  font-size: 1em;
  border: 0;
}
section form input:focus {
  border: 0;
  outline: 0;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.09);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.09);
    -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
section form button{
  background: #333;
  color: #fff;
  border: 0;
  padding: 0 2em;
  cursor: pointer;
}
/* /Search */
/* Collection */
section.collection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto 2em;
}
section.collection form{
  margin: 0 auto;
}
article.collection-item{
  background: #fff;
  width: 100%;
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  article.collection-item{
    width: 45%;
  }
}
@media only screen and (min-width: 64.063em) {
  article.collection-item{
    width: 30%;
  }
}
article.detail-item{
  background: #fff;
  width: 50%;
}
@media only screen and (max-width: 40em) {
  article.detail-item{
    background: #fff;
    width: 100%;
  }
}
article{
  position: relative;
  align-self: center;
  margin-bottom: 2em;
  padding: 0 0 1em;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.07);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.07);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.07);
  -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
article header{
  width: 85%;
  margin: 0 auto;
}
article header h1.paint-titel{
  margin-bottom: .6em;
}
article header p.painter{
  font-size: .8em;
  margin-top: 0;
  padding-top: 0;
}
article a:after{
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
}
article a:hover:after{
  -webkit-box-shadow: 4px 3px 5px 2px rgba(0,0,0,0.09);
-moz-box-shadow: 4px 3px 5px 2px rgba(0,0,0,0.09);
box-shadow: 4px 3px 5px 2px rgba(0,0,0,0.09);
}
article img{
  width: 100%;
}
/* Collection */
/* Empty search & error page */
.empty-result,
.error{
  width: 40%;
  margin: 0 auto;
}
@media only screen and (max-width: 40em){
  .empty-result,
  .error{
    width: 80%;
  }
}
/* /Empty search */
/* Color block detailpage */
aside ul.color{
  text-transform: lowercase;
}
span.color-block{
  display:inline-block;
  width: 1em;
  height: 1em;
  margin-right: .5em;
}
/* /Color block detailpage */
